.faq {
  background: #ffffff;
  padding: 80px 0;
}

.faq__container {
  max-width: 100%;
  margin: 0 50px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 100px;
  align-items: start;
}

.faq__left {
  top: 100px;
}

.faq__title {
  font-size: 3rem;
  font-weight: 800;
  color: #3f3490;
  margin: 0 0 20px;
  line-height: 1.2;
}

.faq__description {
  font-size: 16px;
  color: #2e2e48;
  line-height: 1.6;
  margin: 0;
}

.faq__link {
    color: #2e2e48;
  text-decoration: underline;
  cursor: pointer;
}

.faq__link:hover {
  color: #3f3490;
}

.faq__right {
  display: flex;
  flex-direction: column;
}

@media (max-width: 900px) {
  .faq__container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .faq__left {
    position: static;
  }

  .faq__title {
    font-size: 2rem;
  }
}

