@import './styles/variables.css';
@import './styles/utilities.css';

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family-base);
  color: var(--color-text-primary);
  background-color: var(--color-bg-white);
}

nav {
  margin: 0;
  padding: 0;
}


